@scope (.draft-card-scope) {
  .resume-card.draft {
    border-style: dashed;
    background: rgba(16, 25, 46, 0.4);
  }

  .resume-card.is-generationg {
    position: relative;
    border-color: #3b82f6;
    animation: pulse-glow 1.8s infinite ease-in-out;
  }

  .draft-status {
    color: #ffb800;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;
  }

  .preview-thumbnail {
    margin: 10px 0;
  }

  .resume-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Кількість рядків, після яких ставить трикрапку */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @keyframes pulse-glow {
    0% {
      box-shadow:
        0 0 0 0 rgba(59, 130, 246, 0.5),
        0 3px 6px -1px rgba(0, 0, 0, 0.1);
    }
    50% {
      /* Максимальне сяйво та збільшений розмитий ореол */
      box-shadow:
        0 0 10px 6px rgba(59, 130, 246, 0.6),
        0 0 15px 12px rgba(59, 130, 246, 0.2);
    }
    100% {
      box-shadow:
        0 0 0 0 rgba(59, 130, 246, 0.5),
        0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }
  }
}
