<link rel="stylesheet" href="/parts/templates/template-container.css" />

<section class="template-section template-scope">
  <div class="section-title-group">
    <div class="hero-badge">🎨 Дизайн</div>
    <h2>Доступні шаблони</h2>
  </div>

  <div class="resume-grid templates-section-grid" id="templates-list">
    <a href="/templates/modern-dark" class="resume-card template-card">
      <div class="resume-card-header">
        <h3>Modern Dark</h3>
        <span class="template-badge">Популярний</span>
      </div>

      <div class="template-iframe-wrapper">
        <iframe
          src="http://api.simple-cv.pet/cvs/templates/modern-dark"
          title="Modern Dark"
          loading="lazy"
          scrolling="no˝"
          frameborder="0"
        ></iframe>
        <div class="iframe-overlay"></div>
      </div>

      <div class="template-card-footer">
        <span class="btn-use-template">Обрати шаблон <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>

        <a href="/templates/modern-dark" class="resume-card template-card">
      <div class="resume-card-header">
        <h3>Modern Dark</h3>
        <span class="template-badge">Популярний</span>
      </div>

      <div class="template-iframe-wrapper">
        <iframe
          src="http://api.simple-cv.pet/cvs/templates/modern-dark"
          title="Modern Dark"
          loading="lazy"
          scrolling="no˝"
          frameborder="0"
        ></iframe>
        <div class="iframe-overlay"></div>
      </div>

      <div class="template-card-footer">
        <span class="btn-use-template">Обрати шаблон <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>

        <a href="/templates/modern-dark" class="resume-card template-card">
      <div class="resume-card-header">
        <h3>Modern Dark</h3>
        <span class="template-badge">Популярний</span>
      </div>

      <div class="template-iframe-wrapper">
        <iframe
          src="http://api.simple-cv.pet/cvs/templates/modern-dark"
          title="Modern Dark"
          loading="lazy"
          scrolling="no˝"
          frameborder="0"
        ></iframe>
        <div class="iframe-overlay"></div>
      </div>

      <div class="template-card-footer">
        <span class="btn-use-template">Обрати шаблон <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
</section>

<script src="/parts/templates/template-container.js"></script>
