<template id="template-card-template">
    <a href="/templates/modern-dark" class="resume-card template-card" target="_blank">
      <div class="resume-card-header">
        <h3></h3>
        <span class="template-badge"></span>
      </div>

      <div class="template-iframe-wrapper">
        <iframe
          src="http://api.simple-cv.pet/cvs/templates/modern-dark"
          title="Modern Dark"
          loading="lazy"
          scrolling="no˝"
          frameborder="0"
        ></iframe>
        <div class="iframe-overlay"></div>
      </div>

      <div class="template-card-footer">
        <span class="btn-use-template">Обрати шаблон <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
</template>